@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,300&display=swap');
body{
    height: 100vh;
    background-color: white;
    border-radius: 80px;
}
.container{
    font-family: 'Kanit', sans-serif;
    padding: 40px;
    display: grid;
    height: 200vh;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 0.8fr .5fr 1fr 1fr;
    grid-template-rows: 70px 50px .3fr 2fr .7fr 1fr;
    grid-template-areas:
        "aside aside header header" 
        "aside aside nav nav"
        "aside aside main main"
        "aside aside s2 s3"
        "aside aside s4 s1"
        "footer footer s4 s1";
}
.subt{
    color:#e59291;
    font-size: 18px;
}
h2{
    color:#F68381;
}
h3{
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: #F68381;
}
.dates{
    color:black;
    font-size: 12px;
}
.paragraphs{
    color:#000;
    font-size: 17px;
}
header{
    background-color: whitesmoke;
    grid-area:header;
    font-size:20px;
}
#micv{
    grid-area:header;
    color: #F68381;
    text-align: center;
    margin:0;
}
nav{
    background-color: white;
    grid-area:nav;
    font-size:small;
    color: rgb(196, 110, 36);
    position: relative;
    padding: 0 20px;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    color:rgb(245, 174, 174);
}
.navbar .links{
    display: flex ;
    gap: 2rem;
}
.navbar .toggle_btn{
    color:rgb(245, 174, 174);
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 20px;
}
.action_btn{
    background-color: rgb(207, 171, 171);
    color: #f07e7e;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}
.action_btn:hover {
    scale: 1.05;
    color: #fff;
}
.action_btn:active {
    scale: 0.95;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size:small;
    color:#923434*/
}
a:hover{
    color:#000;
}
main{
    background-color: whitesmoke;
    grid-area:main;
    padding: 40px;
}
#me{
    margin-top: 3px;
    margin-bottom: 3px;
    text-align:justify;
    font-size: 60px;
    color: #F23D3D;
    padding-left: 10px;
}
/*#parrafo-me{
    color:#F23D3D

}*/
aside{
    background-color: white;
    grid-area:aside;
    padding: 50px;
}
#Photo{
    float: none;
    width: 100%;
    height: auto;
}
.s1{
    background-color: whitesmoke;
    grid-area:s1;
    padding: 50px;
}
/*#Photo_2{
    height: auto;
    padding: 50px;
    transform: rotate(0.25turn);
}*/
.s2{
    background-color: whitesmoke;
    grid-area:s2;
    padding: 50px;
}
.s3{
    background-color: whitesmoke;
    grid-area:s3;
    padding: 50px;
}
.s4{
    background-color:whitesmoke;
    grid-area:s4;
    padding: 50px;
}
footer{
    background-color: white;
    grid-area: footer;
    padding: 50px;
}
/*footer.toggle_btn{
        Size: large;
        align-items: first baseline;
    }*/
}
@media only screen and (max-width:700px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows:0.4fr 0.4fr 2.2fr 1.2fr 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "s1"
        "s2"
        "s3"
        "s4"
        "footer"
  }  
}